USE [master]
GO
CREATE DATABASE [QuanLyQuanCafe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyQuanCafe', FILENAME = N'D:\LTWINDOWS\Datamdfldf\QuanLyQuanCafe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyQuanCafe_log', FILENAME = N'D:\LTWINDOWS\Datamdfldf\QuanLyQuanCafe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyQuanCafe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyQuanCafe]
GO
/****** Object:  Table [dbo].[Ban]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[MaBan] [char](10) NOT NULL,
	[SucChua] [int] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	CONSTRAINT CK_Ban_SucChua CHECK (SucChua > 0),
PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [char](10) NOT NULL,
	[MaDU] [char](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGia]),
 CONSTRAINT [PK_CTHD] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaDU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoUong]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoUong](
	[MaDU] [char](10) NOT NULL,
	[TenDU] [nvarchar](100) NOT NULL,
	[MaLoai] [char](10) NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[HinhAnh] [nvarchar](max) NULL,
	CONSTRAINT CK_Ban_SucChua CHECK (DonGia >= 0),
PRIMARY KEY CLUSTERED 
(
	[MaDU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [char](10) NOT NULL,
	[NgayLap] [datetime] NOT NULL DEFAULT GETDATE(),
	[MaNV] [char](10) NULL,
	[MaKH] [char](10) NULL,
	[MaBan] [char](10) NULL,
	[TongTien] [decimal](18, 2) NOT NULL DEFAULT 0,
	[TrangThai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [char](10) NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[SDT] [varchar](15) NULL,
	[DiaChi] [nvarchar](200) NULL,
	CONSTRAINT PK_KhachHang PRIMARY KEY CLUSTERED (MaKH),
	CONSTRAINT UQ_KhachHang_SDT UNIQUE (SDT),
	CONSTRAINT CK_KhachHang_SDT 
	CHECK (SDT IS NULL 
    OR (LEN(SDT) = 10 AND SDT NOT LIKE '%[^0-9]%'))
);
GO
/****** Object:  Table [dbo].[LoaiDoUong] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDoUong](
	[MaLoai] [char](10) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF,
ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [char](10) NOT NULL,
	[TenNV] [nvarchar](100) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[SDT] [varchar](15) NULL,
	[DiaChi] [nvarchar](200) NULL,
	CONSTRAINT PK_NhanVien PRIMARY KEY CLUSTERED (MaNV),
	CONSTRAINT UQ_NhanVien_SDT UNIQUE (SDT),
	CONSTRAINT CK_KH_SDT CHECK (SDT IS NULL 
    OR (LEN(SDT) = 10 AND SDT NOT LIKE '%[^0-9]%'))
);
GO
INSERT [dbo].[Ban] ([MaBan], [SucChua], [TrangThai]) 
	VALUES	(N'B01', N'2', N'Trống'),
			(N'B02', N'2', N'Trống'),
			(N'B03', N'4', N'Trống'),
			(N'B04', N'4', N'Trống'),
			(N'B05', N'6', N'Trống'),
			(N'B06', N'6', N'Trống'),
			(N'B07', N'4', N'Trống'),
			(N'B08', N'4', N'Trống'),
			(N'B09', N'3', N'Trống'),
			(N'B10', N'3', N'Trống');
GO
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [DiaChi]) 
	VALUES	(N'KH01', N'Nguyễn Văn A', N'0900000001','Quận 1'),
			(N'KH02', N'Trần Thị B', N'0900000002','Quận 2'),
			(N'KH03', N'Lê Văn C', N'0900000003','Quận 3');
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [MatKhau], [SDT], [DiaChi]) 
	VALUES	(N'NV01', N'Lê Quý Đôn', N'123456', N'0988888888', N'Ký túc xá Cao Thắng'),
			(N'NV02', N'Nguyễn Trãi', N'123456', N'0977777777', N'Quận 1'),
			(N'NV03', N'Trần Hưng Đạo', N'123456', N'0966666666', N'Quận 3');
GO
INSERT [dbo].[LoaiDoUong] ([MaLoai], [TenLoai]) 
	VALUES	(N'L01',N'Cà phê'),
			(N'L02',N'Trà sữa'),
			(N'L03',N'Nước ép'),
			(N'L04',N'Sinh tố'),
			(N'L05',N'Đá xay')
GO
INSERT [dbo].[HoaDon] ([MaHD], [NgayLap], [MaNV], [MaKH], [MaBan], [TongTien], [TrangThai]) 
	VALUES	(N'HD02', GETDATE(), N'NV01', N'KH02', N'B02', 85000, N'Chưa thanh toán'),
			(N'HD03', GETDATE(), N'NV02', N'KH03', N'B03', 120000, N'Đã thanh toán'),
			(N'HD04', GETDATE(), N'NV01', N'KH01', N'B04', 45000, N'Chưa thanh toán'),
			(N'HD05', GETDATE(), N'NV03', N'KH02', N'B05', 99000, N'Đã thanh toán'),
			(N'HD06', GETDATE(), N'NV02', N'KH03', N'B06', 76000, N'Chưa thanh toán');
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaDU], [SoLuong], [DonGia]) 
	VALUES	(N'HD01', N'DU01', 2, 25000),
			(N'HD01', N'DU04', 1, 35000),

			(N'HD02', N'DU02', 1, 25000),
			(N'HD02', N'DU06', 2, 40000),

			(N'HD03', N'DU03', 3, 30000),

			(N'HD04', N'DU05', 1, 38000),

			(N'HD05', N'DU08', 2, 45000),
			(N'HD05', N'DU10', 1, 50000),

			(N'HD06', N'DU01', 1, 25000),
			(N'HD06', N'DU11', 1, 52000);
GO
ALTER TABLE [dbo].[Ban] ADD  DEFAULT ((4)) FOR [SucChua]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
--ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TongTien]
--GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_DU] FOREIGN KEY([MaDU])
REFERENCES [dbo].[DoUong] ([MaDU])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_DU]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HD] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_HD]
GO
ALTER TABLE [dbo].[DoUong]  WITH CHECK ADD  CONSTRAINT [FK_DoUong_Loai] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiDoUong] ([MaLoai])
GO
ALTER TABLE [dbo].[DoUong] CHECK CONSTRAINT [FK_DoUong_Loai]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HD_Ban] FOREIGN KEY([MaBan])
REFERENCES [dbo].[Ban] ([MaBan])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HD_Ban]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HD_KH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HD_KH]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HD_NV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HD_NV]
GO
USE [master]
GO
